# Ignore node_modules
node_modules

# Ignore build artifacts
dist
build

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore Docker files
Dockerfile*
docker-compose*
.dockerignore

# Ignore git files
.git
.gitignore

# Ignore test files
coverage
.nyc_output
test

# Ignore env files
.env*
!.env.example

# Ignore other unnecessary files
README.md
LICENSE
.DS_Store